ETHOSBASEURL=
MSGETHOSDEVAPIKEY=
EMAILDOMAIN=
SFTPSERVER=
SFTPUSERNAME=
SFTPPASSWORD=
SFTPPORT=22
LOG_LEVEL=DEBUG     # Most verbose
# LOG_LEVEL=INFO    # Default
# LOG_LEVEL=WARNING
# LOG_LEVEL=ERROR
PERSON_FETCH_WORKERS=30
PERSON_PROGRESS_INTERVAL=50